body {
  background-color: rgb(174, 135, 135);
  color: rgb(209, 205, 199);
  display: flex;
  justify-content: space-between;
  border: solid, blue;
}

.container {
  /* margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 4mm ridge, blue; */
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: auto;
}

.links {
  border: solid, black;
  background-color: rgb(241, 105, 7);
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: space-evenly;
}

#about {
  background-color: cornflowerblue;
}